@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


@import '~@fortawesome/fontawesome-free/css/all.css';
$noto-serif: 'Noto Serif', serif;
$source-sans: 'Source Sans Pro', sans-serif;

:root{
    --light: #ffffff;
    --grey: #efefef;
}

body{
    font-family: $source-sans;
}



$color-primary: #5ec9e9;
$color-white: #f1f1f1;
$color-footer: #F7F7F7;
$color-blue: #007bff;
$color-grey: #343a40;
$color-red: #ef0e0e;

.btn-bg-primary{
    background-color: $color-primary;
    opacity: .9;
    color: white;
    transition: all .5s;

    &:hover{
        opacity: 1;
        color: white;
    }
}


#administrador{
    min-height: 100vh;
    form{
        width: 90%;

        @media (min-width: 960px) {
            width: 30%;
        }
        
        .btn-size{
        width: 100%;
        }
    }
}

.dashboard{
        svg{
            width: 1.2rem;
        }

        #sideNav {

            @media (min-width: 992px) {
        
                text-align: center;
                position: fixed;
                display: flex;
                flex-direction: column;
                width: 15rem;
                height: 100vh;   
                
                .navbar-collapse{
                display: flex;
                align-items: flex-start;
                flex-grow: 0;
                width: 100%;
                margin-bottom: auto;
                margin-top: 12vh;

                    .navbar-nav{
                        flex-direction: column;
                        width: 100%;
                        display: block;

                        .nav-link{
                            display: block;
                        }
                    }
                }
            }

            .logout{
                @media (min-width: 992px){
                    margin-top: 35rem;
                }
            }
        }
 
}

.content{
    width: 100%;
    min-height: 100vh;
    margin-top: 3rem;
    background-color: #ebedef;
    @media (min-width: 992px){
        width: auto;
        margin-left: 15rem;
        margin-top: 0;
    }
    
    p{
        font-size: 1.5rem;
    }

    .select{
        width: 20rem;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
            color: $color-blue;
        }
    }        

    .houses{
        box-shadow: 0 0 3px black;
        width: 100%;

        @media (min-width: 992px){
            width: 80%;
        }

        img{
            width: 100%;
            height: 5rem;
            border-radius: 10px 10px;
            object-fit: cover;
        }

        .btn-delete{
            color: $color-red;
        }

        .btn-edit{
            color: $color-blue;
        }
            
        svg{
            font-size: 1.5rem;
        }
    }   

    .error{
        color: red;
        font-weight: bold;
    }

    .display{
        display:none;
    }

    .image{
        width: 11rem;
        height: 9rem;
        object-fit: cover;
    }

    #addHouse{
        color: white;
    }

    .add-house{
        min-height: 92vh;

        .line{
            border:1px solid #ebedef;
        }

        .form{
            border-radius:10px;
            background-color: white;
        }
    
        .btn-back{
            width: 5rem;
        }
    }
    .avatar{
        width: 2.5rem;
        border-radius: 50rem;
    }
    
    .dropdown-toggle::after {
        display:none;
    }
}     

/*  @import "../../node_modules/bootstrap/scss/bootstrap";  */